.signUp-cont {
  max-width: 400px;
  margin: 0 auto;
  height: auto;
}
.signUp-cont h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.015em;
  color: #fefefa;
}
.btn-con {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.submit-bt {
  /* padding: 19px 73px; */
  border: none;
  border-radius: 8px;
  background-color: #d0f0c0;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.sign-in {
  color: #ffffff;
}
