.body-cont {
    display: flex;
    justify-content: space-between;
    margin: 100px 50px 50px 80px;
    font-family: Montserrat;
    font-size: 700;
  }
  .good {
    font-size: 32px;
    color: #252323;
  }
  .rice-cont {
    background-color: #fefefa;
    border-radius: 10px;
  }
  .rice-cont > img {
    display: block;
    margin: 80px auto;
    width: 70%;
  }
  .desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .desc1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
  }
  .svg > svg {
    margin-right: 10px;
  }
  .btn {
    border-radius: 10px;
    padding: 14px 11px;
    margin-right: 10px;
  }
  .price,
  .brand {
    font-size: 28px;
    color: #fefefa;
  }
  .size,
  .color {
    font-size: 24px;
    color: #d0f0c0;
  }
  h3 + h1 {
    color: #000000;
    font-size: 40px;
  }
  .btn1-cont {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
  }
  .btn1 {
    background-color: #cb1d34;
    border-radius: 30px;
    color: #fefefa;
    padding: 18px 28px;
    margin: 8px;
  }
  span {
    margin-left: 10px;
  }
  
  
  