.input-contain {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: start;
  margin: 5px auto;
  padding: 20px;
}
.input-contain > label {
  font-size: 24px;
  font-weight: 700;
  color: #1b1818;
  line-height: 39.1px;
  letter-spacing: 1.7%;
  align-items: start;
}
.input-contain > input {
  width: 400px;
  border: 1px solid black;
  border-radius: 50px;
  height: 90px;
  color: black;
  margin: 0 auto;
}
