.main-wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-wrapper-top-bar {
  width: 100%;
  background-color: #cb1d34;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-wrapper-top-bar > nav > ul {
  display: flex;
  gap: 16px;
}

.main-wrapper-top-bar > nav > ul > li {
  list-style-type: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.94px;
}

.top-bar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.top-bar-right > a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
